<div class="header-2">
  <div class="bg-indigo-500">
    <div class="flex justify-between p-2 mx-auto">
      <h2 class="text-white">🎉 Free ship cho duy nhất trong ngày 6/7</h2>
      <button class="text-white">&times;</button>
    </div>
  </div>
  <nav class="bg-white py-2 md:py-4 bg-gray-800">
    <div class="container px-4 mx-auto md:flex md:items-center">
      <div class="flex justify-between items-center">
        <a routerLink="/" class="font-bold text-xl flex">
          <img src="../../assets/images/logo.png" width="50" alt="" /><span
            class="mt-2 text-white uppercase"
            >&nbsp; Heaphone</span
          >
        </a>
        <button
          class="
            border border-solid border-gray-600
            px-3
            py-1
            rounded
            text-white
            opacity-50
            hover:opacity-75
            md:hidden
          "
          id="navbar-toggle"
        >
          <i class="fas fa-bars"></i>
        </button>
      </div>

      <div
        class="hidden md:flex flex-col md:flex-row md:ml-auto mt-3 md:mt-0"
        id="navbar-collapse"
      >
        <a
          routerLink="/home"
          class="p-2 text-white lg:px-4 md:mx-2 rounded"
          routerLinkActive="bg-indigo-600 text-white"
          >Trang chủ</a
        >
        <a
          routerLink="/about"
          routerLinkActive="bg-indigo-600 text-white"
          class="
            p-2
            lg:px-4
            md:mx-2
            rounded
            hover:bg-gray-200
            transition-colors
            duration-300
            text-white
          "
          >Về chúng tôi</a
        >
        <a
          routerLink="/product"
          routerLinkActive="bg-indigo-600 text-white"
          class="
            p-2
            lg:px-4
            md:mx-2
            rounded
            hover:bg-gray-200 hover:text-gray-700
            transition-colors
            duration-300
            text-white
          "
          >Sản phẩm</a
        >
        <a
          routerLink="/news"
          routerLinkActive="bg-indigo-600 text-white"
          class="
            p-2
            lg:px-4
            md:mx-2
            rounded
            hover:bg-gray-200 hover:text-gray-700
            transition-colors
            duration-300
            text-white
          "
          >Tin tức</a
        >
        <a
          routerLink="/contact"
          routerLinkActive="bg-indigo-600 text-white"
          class="
            p-2
            lg:px-4
            md:mx-2
            rounded
            hover:bg-gray-200 hover:text-gray-700
            transition-colors
            duration-300
            text-white
          "
          >Liên hệ</a
        >
        
        <div class="">
          <div class="dropdown inline-block relative">
            <button class="bg-gray-300 text-gray-700 font-semibold py-2 px-4 rounded inline-flex items-center"  (click)="isOpen()">
              <span class="mr-1">ACCOUNT</span>
              <svg class="fill-current h-4 w-4" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20"><path d="M9.293 12.95l.707.707L15.657 8l-1.414-1.414L10 10.828 5.757 6.586 4.343 8z"/> </svg>
            </button>
            <ul class="dropdown-menu absolute block w-full text-gray-900 pt-1 z-50"  *ngIf="isOpenStatus">
              <li class="" *ngIf="status">
                <a
                routerLink="/admin"
                  class="
                  bg-gray-200 hover:bg-gray-400 py-2 px-4 block whitespace-no-wrap text-white
                  "
                >
                  Quản trị
                </a>
              </li>
              <li class="" *ngIf="status">
                <button
                (click)="handleLogout()"
                  class="
                  bg-gray-200 hover:bg-gray-400 py-2 px-4 block whitespace-no-wrap text-white
                  "
                >
                  Đăng xuất
                </button>
              </li>
              <li class="" *ngIf="!status"><a
                routerLink="/signin"
                routerLinkActive="bg-indigo-600 text-white"
                class="
                bg-gray-200 hover:bg-gray-400 py-2 px-4 block whitespace-no-wrap
                "
                >Đăng nhập</a
              >
              </li>
              <li class=""><a
                routerLink="/signup"
                routerLinkActive="bg-indigo-600 text-white"
                class="
                bg-gray-200 hover:bg-gray-400 py-2 px-4 block whitespace-no-wrap
                "
                >Đăng kí</a
              ></li>




            </ul>
          </div>
        
        </div>



       
      </div>
    </div>
  </nav>
</div>
