<div class="overflow-x-hidden">
  <div class="flex justify-between ml-5">
    <div>
      <h1
        class="
          text-left
          ml-[40px]
          cursor-pointer
          text-2xl
          font-bold
          italic
          uppercase
        "
      >
        Danh sách sản phẩm
      </h1>
    </div>
    <button
      class="bg-pink-500 w-[300px] text-white rounded-lg hover:bg-green-600"
    >
      <a routerLink="add">Thêm sản phẩm </a>
    </button>
  </div>
  <div class="max-w-screen max-h-screen flex font-sans">
    <div class="w-full ml-[50px]">
      <div class="bg-white shadow-md rounded my-6">
        <table class="min-w-max w-full table-auto">
          <thead>
            <tr class="bg-pink-500 text-white uppercase text-sm leading-normal">
              <th>STT</th>
              <th class="py-3 px-6 text-left">Hình ảnh</th>
              <th class="py-3 px-6 text-left">Tên sản phẩm</th>
              <th class="py-3 px-6 text-left">Giá</th>
              <th class="py-3 px-6 text-center">Giảm giá</th>
              <th class="py-3 px-6 text-center">Số lượng</th>
              <th class="py-3 px-6 text-center">Trạng thái</th>
              <th class=" text-center">Hành động</th>
            </tr>
          </thead>
          <tbody
            class="text-gray-600 text-sm font-light"
            *ngFor="let product of products; index as i"
          >
            <tr class="border-b border-gray-200 hover:bg-gray-100">
              <td class="text-center font-bold text-lg">{{ i + 1 }}</td>
              <td class="py-3 px-6 text-left whitespace-nowrap">
                <div class="flex items-center">
                  <img
                    src="{{ product.image }}"
                    class="w-[100px] rounded-3xl"
                    alt=""
                    srcset=""
                  />
                </div>
              </td>
              <td class="py-3 px-6 text-left">
                <div class="flex items-center">
                  <span class=" font-bold">{{ product.name }}</span>
                </div>
              </td>
              <td class="py-3 px-6 text-center">
                <div class="flex items-center justify-center font-bold">
                  {{ product.price }} VNĐ
                </div>
              </td>
              <td class="py-3 px-6 text-center">
                <span class=" font-bold">{{ product.salePrice ? product.salePrice : 0 }}</span>
              </td>
              <td class="py-3 px-6 text-center">
                <span class=" font-bold">{{ product.quantity }}</span>
              </td>
              <td class="py-3 px-6 text-center">
                <span
                  class="bg-gray-900 text-white py-1 px-3 rounded-full text-xs font-bold"
                  >{{ product.status ? "còn hàng" : "Hết hàng" }}</span
                >
              </td>
              <td class="py-3 px-6 text-center">
                <div class="flex item-center justify-center">
                  <div>
                    <a routerLink="/admin/product/edit/{{product.id}}">
                      <button
                     
                      class="
                        w-4
                        mr-2
                        transform
                        hover:text-purple-500 hover:scale-110
                      "
                    >
                      <svg
                        xmlns="http://www.w3.org/2000/svg"
                        fill="none"
                        viewBox="0 0 24 24"
                        stroke="currentColor"
                      >
                        <path
                          stroke-linecap="round"
                          stroke-linejoin="round"
                          stroke-width="2"
                          d="M15.232 5.232l3.536 3.536m-2.036-5.036a2.5 2.5 0 113.536 3.536L6.5 21.036H3v-3.572L16.732 3.732z"
                        />
                      </svg>
                    </button>
                    </a>
                    
                  </div>
                  <div>
                    <button
                      (click)="removeItem(product.id)"
                      class="
                        w-4
                        mr-2
                        transform
                        hover:text-purple-500 hover:scale-110
                      "
                    >
                      <svg
                        xmlns="http://www.w3.org/2000/svg"
                        fill="none"
                        viewBox="0 0 24 24"
                        stroke="currentColor"
                      >
                        <path
                          stroke-linecap="round"
                          stroke-linejoin="round"
                          stroke-width="2"
                          d="M19 7l-.867 12.142A2 2 0 0116.138 21H7.862a2 2 0 01-1.995-1.858L5 7m5 4v6m4-6v6m1-10V4a1 1 0 00-1-1h-4a1 1 0 00-1 1v3M4 7h16"
                        />
                      </svg>
                    </button>
                  </div>
                </div>
              </td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>
</div>
