<main class="mx-auto w-full p-3">
      <!-- slider product sale  -->
      <section class="mt-2">
        <h2 class="text-center uppercase text-2xl italic">
          Săn sale online mỗi ngày
        </h2>
        <owl-carousel-o [options]="customOptionslimit">
          <ng-template
            carouselSlide
            class="rounded-lg"
            *ngFor="let product of productSlider"
          >
            <div>
              <a
                class="block relative rounded overflow-hidden"
                routerLink="/product/{{ product._id }}"
              >
                <img
                  src="{{ product.image }}"
                  class="rounded-lg h-[300px]"
                  alt=""
                />
              </a>
              <h2>{{ product.name }}</h2>
              <h3 class="">{{ product.price }} VNĐ</h3>
              <h3>sale price update soon</h3>
            </div>
          </ng-template>
        </owl-carousel-o>
      </section>
   
      <!-- all product -->
      <section>
        <h2 class="text-center uppercase text-2xl italic">Sản phẩm nổi bật</h2>
        <div class="container px-5 py-24 mx-auto">
          <div class="flex flex-wrap -m-4">
            <div class="lg:w-1/4 md:w-1/2 p-4 w-full" *ngFor="let item of products">
              <a
                class="block relative h-48 rounded overflow-hidden"
                routerLink="/product/{{ item._id }}"
              >
                <img
                  alt="ecommerce"
                  class="w-full h-full block w-[300ppx]"
                  src="{{ item.image }}"
                />
              </a>
              <div class="mt-4">
                <h2 class="text-gray-900 title-font text-lg font-medium">
                  {{ item.name }}
                </h2>
                <p class="mt-1 font-bold bold text-1xl">{{ item.price }} VNĐ</p>
              </div>
            </div>
          </div>
        </div>
      </section>
    </main>
    